#cart {
  margin: auto;
  padding: 1vw;
  min-width: 40vw; max-width: 40vw;
  border: 2px solid var(--BLACK);
}

#cart::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

#cart_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}

#cart_title .fa-xmark {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

#cart_title .fa-xmark:hover {
  scale: 1.1;
}

#cart_products {
  max-height: 75vh;
  overflow-y: auto;
  margin-bottom: 3vh;
  border-bottom: 2px solid black;
}

.cartProductDiv {
  display: flex;
  gap: 1vw;
  max-height: 20vh;
  margin-bottom: 2vh;
  padding: 1vw;
  border: 2px solid black;
}

.cartProductDiv figure {
  max-width: 12.5vh;
  max-height: 12.5vh;
}

.cartProductDiv img {
  width: 100%;
  aspect-ratio: 1 /1 ;
  object-fit: contain;
}

.cart_product {
  width: 100%;
}

.cart_product h2 {
  margin-bottom: 1vh;
}

.cart_product p {
  font-size: 1.2rem;
}

.cartInfoContainer {
  display: flex;
  justify-content: space-between;
}

.cartPriceQuantity {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  min-width: 8vw;
}

.cart_price {
  display: flex;
  gap: 1vh;
  align-items: center;
}

.quantity {
  display: flex;
  gap: 0.5vh;
  align-items: center;
}

.quantity button {
  border: none;
  background-color: white;
}

.quantity .fa-solid {
  font-size: 1.4rem;
  cursor: pointer;
}

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.removeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.removeItem .fa-trash {
  color: var(--WHITE);
  background-color: rgb(180, 0, 0);
  font-size: 1.2rem;
  padding: 1vh;
  border-radius: 50%;
  cursor: pointer;
}

#cart_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart_total button {
  background-color: rgb(180, 0, 0);
  color: var(--WHITE);
  font-size: 1.5rem;
  border: none;
  padding: 1vh;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #cart {
    min-width: 100%; max-width: 100%;
    padding: 1vh;
  }
}