#cart {
  margin: auto;
  padding: 1vw;
  min-width: 40vw; max-width: 40vw;
  border: 2px solid var(--BLACK);
}

#cart::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

#cart_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}

#cart_title .fa-xmark {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

#cart_title .fa-xmark:hover {
  scale: 1.1;
}

.cartProductDiv {
  display: flex;
  max-height: 20vh;
  margin-bottom: 2vh;
  padding: 1vw;
  border: 2px solid black;
}

.cartProductDiv figure {
  max-width: 12.5vh;
  max-height: 12.5vh;
}

.cartProductDiv img {
  width: 100%;
  aspect-ratio: 1 /1 ;
  object-fit: contain;
}