#slider_container {
  position: relative;
}

#slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  max-width: 100%;
  min-height: 700px;
  max-height: 700px;
  color: var(--WHITE);
}

.background_image {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
}

#slide_1 div, #slide_3 div {
  display: flex;
  flex-direction: column;
  align-content: end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10vh 10vw;
  gap: 1.5vh;
}

#slide_3 {
  color: black;
}

#slide_2 div {
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10vh 10vw;
  gap: 1.5vh;
}

.slide_h1 {
  font-size: 8rem;
  font-weight: 900;
}

.slide_p {
  font-size: 2rem;
}

.slide_button {
  margin-top: 2vh;
  padding: 1vw;
  border: none;
  background-color: beige;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
  rotate: -4deg;
}

.slide_button:hover {
  rotate: 8deg;
}

#slider_nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2vw;
  position: absolute;
  bottom: 2vh;
  z-index: 1;
}

#slider_nav div:nth-child(1) {
  scale: 1.8;
}

#slider_nav div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--WHITE);
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #slider_nav {
    gap: 8vw;
  }

  #slide_1 div, #slide_2 div, #slide_3 div {
    align-content: center;
  }

  .slide_h1 {
    font-size: 4rem;
  }
}