#product_section {
  padding: 0 12vw 8vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

.product_card {
  padding: 1vw;
  background-color: whitesmoke;
}

.product_card:hover img {
  scale: 1.1;
}

.product_card * {
  margin-bottom: 0.9vh;
}

.product_card img {
  width: 100%;
  aspect-ratio: 1 /1 ;
  object-fit: contain;
  margin-bottom: 2vh;
  transition: 0.3s;
  cursor: pointer;
}

.category {
  font-size: 0.9rem;
  color: grey;
}

.product_card h2 {
  font-size: 1.3rem;
}

.cardPriceCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.cardPriceRating .fa-star {
  font-size: 0.8rem;
  color: gold;
}

.cardPrice {
  display: flex;
  gap: 2vw;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.cardPrice p {
  padding: 0.5vh;
  margin-bottom: 0;
}

.salePrice {
  background-color: rgb(180, 0, 0);
  color: var(--WHITE);
}

.cardPriceCart .fa-cart-shopping {
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s;
}

.cardPriceCart .fa-cart-shopping:hover {
  scale: 1.1;
}

@media screen and (max-width: 640px) {
  #product_section {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 2vh 5vw;
  }
}