#product_dialog {
  margin: auto;
  padding: 1vw;
  min-width: 60vw; max-width: 60vw;
  border: 2px solid var(--BLACK);
}

#product_dialog::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

.product_info {
  display: flex;
  gap: 2vw;
}

.product_info figure {
  width: 50%;
}

.product_info img {
  width: 100%;
  aspect-ratio: 1 /1 ;
  object-fit: contain;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info > * {
  margin-bottom: 2vh;
}

.infoTitle {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.infoTitle .fa-xmark {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.infoTitle .fa-xmark:hover {
  scale: 1.1;
}

.info hr {
  border-top: 2px solid var(--BLACK);
}

.infoPriceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoPrice {
  display: flex;
  gap: 3vw;
  font-size: 1.7rem;
  font-weight: bold;
}

.infoPrice p {
  padding: 0.5vh;
}

.infoRating {
  font-size: 1.1rem;
  color: gold;
}

.info h2 {
  margin-bottom: 1.3vh;
}

.infoQuantity {
  display: flex;
  font-size: 1.5rem;
  gap: 1vw;
  margin-top: auto;
  margin-bottom: 0;
}

.infoButton {
  margin-top: 2vh;
  padding: 1.4vh;
  width: 100%;
  border: none;
  background-color: rgb(180, 0, 0);
  color: var(--WHITE);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #product_dialog {
    min-width: 90vw; max-width: 90vw;
    padding: 1vh;
  }

  .product_info {
    flex-direction: column;
    gap: 4vh;
  }

  .product_info figure {
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .infoTitle {
    font-size: 1rem;
  }

  .infoTitle .fa-xmark {
    font-size: 2.5rem;
  }

  .infoPrice {
    gap: 3vh;
  }

  .infoButton {
    margin-bottom: 0.5vh;
  }
}