#sort_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8vh 12vw;
  scroll-margin-top: 5vh;
}

#sort_section h1 {
  font-size: 4rem;
}

#form_search {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--BLACK);
}

#form_search input {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.5vw;
  border: none;
  background-color: var(--WHITE);
  outline: none;
}

#form_search input:focus {
  border: none;
}

#form_search button {
  font-size: 1.2rem;
  padding: 0.5vw;
  border: none;
  cursor: pointer;
}

#form_sort {
  display: flex;
  gap: 1vw;
  align-items: center;
  font-size: 1.2rem;
}

#form_sort select {
  font-size: 1.2rem;
  padding: 0.5vw;
  border-radius: 0;
  outline: none;
}

@media screen and (max-width: 640px) {
  #sort_section {
    padding: 3vh 5vw;
    gap: 3vh;
  }

  #sort_section h1 {
    font-size: 3rem;
  }

  #form_search {
    order: 3;
    width: 100%;
  }

  #form_search input {
    font-size: 1.5rem;
    padding: 2vw;
  }
  
  #form_search button {
    font-size: 1.5rem;
    padding: 2vw;
  }

  #form_sort {
    flex-direction: column;
    gap: 1vh;
    align-items: start;
    font-size: 1.3rem;
  }

  #form_sort select {
    font-size: 1.3rem;
  }
}