@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --BLACK: black;
  --WHITE: white;
  --PURPLE: #552c82;
}

#loader_container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: end;
}

#loader_container h1 {
  font-size: 2.5rem;
  color: rgb(172, 172, 172);
}

#loader {
  margin-bottom: 10px;
  width: 32px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,rgb(172, 172, 172) 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: loading 1s steps(4) infinite;
}
@keyframes loading {to{clip-path: inset(0 -34% 0 0)}}