header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 10vw;
}

#logo_navbar {
  display: flex;
  align-items: center;
  gap: 4vw;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 2vw;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.fa-cart-shopping {
  font-size: 1.5rem;
}

#search_cart {
  display: flex;
  align-items: center;
  gap: 4vw;
}

form {
  display: flex;
}

#search {
  font-size: 1.2rem;
  padding: 1vh;
  border: none;
  background-color: lightblue;
}

form button {
  font-size: 1.2rem;
  padding: 1vh;
  border: none;
}