#slider_container {
  position: relative;
}

#slider {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
  min-height: 700px;
  max-height: 700px
}

.background_image {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

#slide_1 div, #slide_3 div {
  display: flex;
  flex-direction: column;
  align-content: end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10vh 10vw;
}

#slider_nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2vw;
  position: absolute;
  bottom: 2vh;
  z-index: 1;
}

#slider_nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--WHITE);
  transition: 0.3s;
}

@media screen and (max-width: 640px) {
  #slider_nav {
    gap: 8vw;
  }
}